beautifulsoup4==4.12.2
geopandas==0.12.2
huggingface-hub==0.16.4
langchain==0.0.279
langsmith==0.0.33
numpy==1.24.2
pandas==2.0.0
requests==2.28.2
SQLAlchemy==2.0.20
streamlit==1.26.0
urllib3==1.26.15
youtube-transcript-api==0.6.1
zipp==3.15.0